/* dop style */
ul, li{
    list-style: none;
}
body{
    margin: 0; 
    font-family: 'Syne Mono', monospace;
    font-family: 'Lobster', cursive;
}
.number{
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 100px;
    font-family: Syne Mono;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 310px;
}
.color__wrapper{
    background: url("/img/imgonline.jpg") no-repeat;

}

/* buttons & hovers */

.plus{
    background-color: red;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-bottom: 10px;
    margin-right: 10px;
}
.plus:hover{
    cursor: pointer;
}
.minus{
    background-color: red;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-bottom: 10px;
}
.minus:hover{
    cursor: pointer;
}
.reset{
    background-color: green;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-right: 10px;
    margin-bottom: 10px;
}
.reset:hover{
    cursor: pointer;
}
.plusclick1{
    background-color: green;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-bottom: 10px;
}
.plusclick1:hover{
    cursor: pointer;
}
.plusclickrandom{
    background-color: lightseagreen;

    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plusclickrandom:hover{
    cursor: pointer;
}

.plusclick10{
    background-color: gold;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-right: 10px;
    margin-bottom: 10px;
}
.plusclick10:hover{
    cursor: pointer;
}
.plusclick100{
    background-color: gold;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-bottom: 10px;
}
.plusclick100:hover{
    cursor: pointer;
}
.plusclick1000{
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
    margin-right: 10px;
}
.plusclick1000:hover{
    cursor: pointer;
}
.plusclick10000{
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-family: Lobster;
}
.plusclick10000:hover{
    cursor: pointer;
}

/* regulations */

.regulations__wrapper{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2F303A;
}
.regulations__list{
    padding: 0;
    margin: 0;
    color: white;
    width: 350px;
}
.regulations__title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.regulations__item--margin{
    margin-bottom: 10px;
}
